.content{
    max-width: 90%;
    margin: 3% auto;
}
h1{
    font-size: 8vw;
}
.bayanComponent{
    padding: 1.5vw 0;
    font-size: 3vw;
    background: #F7F1F1;
    border-width: 0.1em 0em 0em;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
.bayanComponent:hover{
    color: aqua;
}
.bayanComponent input{
    display: none;
}
.title{
    font-size: 6vw;
    display: flex;
    justify-content: space-between;
}
.memesContent{
    display: flex;
    justify-content: center;
    opacity:1;
    clear: both;
    height: 0;
    transform: scale(0);
    overflow: hidden;
    text-align: center;
    transition: all 0.5s ease-in 0.15s, transform 0.3s ease-in 0.15s;
}
.icon{
    font-size: 100%;
    transform: rotate(0deg);
}

img{
    margin: 2vw;
    height: 100%;
    max-width: 100%;
}
@media (hover: hover) {
    label:hover{
        cursor: pointer;
    }
    .bayanComponent:hover .icon{
        transform: rotate(45deg);
        transition: all 0.5s ease-in 0.15s;
    }
    .bayanComponent:hover .memesContent{
        opacity: 1;
        transform: scale(1);
        height: 100%;
        transition: all 0.5s ease-in 0.15s;
    }
}
.bayanComponent input:active .icon{
    transform: rotate(45deg);
    transition: transform 0.5s ease-in 0.15s;
}
.bayanComponent input:checked + label + .memesContent{
    transform: scale(1);
    height: 100%;
    opacity: 1;
    transition: transform 0.1s ease-in-out 0.15s, height 0.5s ease-in-out 0.15s, opacity 0.5s ease-in-out 0.15s ;
}


